<div>
  <h1>details movie</h1>
  <div>
    <h4>Title: {{this.movie.title}}</h4>
    <p>Genero: {{this.movie.genre}}</p>
    <p>Resumen: {{this.movie.plot}}</p>
    <div>
      {{#each this.movie.cast}}
        <div>
          <p>Name: {{this.name}}, {{this.occupation}}</p>
          <p>Phrase: {{this.catchPhrase}}</p>
        </div>
        <br />
      {{/each}}
    </div>
    <form action="movies/{{this.movie._id}}" method="post">
      <button>Delete</button>
    </form>
    <button><a href="/movies/{{this.movie._id}}/edit">Update</a></button>
  </div>
</div>